# Google / Firebase
GOOGLE_APPLICATION_CREDENTIALS=./service-account.json
FIREBASE_PROJECT_ID=sievy-agent

# Gemini
GOOGLE_API_KEY=

# Elastic
ELASTIC_URL=http://elastic:9200
ELASTIC_CLOUD_URL=
ELASTIC_API_KEY=

# Firecrawl
FIRECRAWL_API_KEY=

# Environment
ENV=development